body {
    max-width: 700px;
    text-rendering: optimizeLegibility;
  }

.intro {
  margin-left: 40px;
  margin-right: 40px;
}

.intro .cdg-img {
    float: left;
    width: 135px;
    margin-top: 10px;
  }

.intro .cdg-img img {
    border-radius: 3px;
    width: 120px;
    border: 0;
  }

.intro-header {
  margin-bottom: -20px;
}
