/* stylelint-disable color-function-notation */
@import "../../node_modules/bootstrap/scss/functions";
@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

$primary: #5085A5;
$font-family-base: 'Roboto';
$border-radius: 10px;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;
$enable-gradients: false;
$enable-shadows: false;
$inner-text-font-weight: 300;
$headers-color: rgb(213, 221, 229);

// Required Bootstrap imports
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";

// api
@import "../../node_modules/bootstrap/scss/utilities/api";

// Toggle dark mode button
.dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 14px;
    padding-left: 4px;
    color: var(--bs-navbar-color);
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid ;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.circle {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.75);
    transition: .3s;
}

.active {
    border-color: var(--bs-navbar-color);
}

.active + .text {
    color: var(--bs-navbar-color);
}

.active .circle {
    left: 100%;
    transform: translateX(-100%);
    transition: .3s;
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.75);
}

// main title
.icon-link-img {
    transition: transform 200ms ease-in-out;
}

.icon-link-img:hover {
    transform: scale(1.1);
}

// Content
.content-header {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
  
.content-header::after {
    content: '';
    position: absolute;
    display: block;
    width: 300px;
    height: 3px;
    bottom: 20px;
    left: 200;
    background: $primary;
}

.content-header-small {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content-header-small::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    bottom: 8px;
    left: 200;
    background: $primary;
}

.section-sub-header {
    letter-spacing: 1px;
    font-size: 1.2rem;
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    text-transform: uppercase;
    font-weight: 500;
}

.section-header{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.full-view {
    height: 100vh;
}

.center-on-home {
    margin-top: 100px;
    height: 65vh
}


.arrow-link {
    @include transition;

    font-weight: 700;
    display: inline-block;
    background-color: transparent;
    white-space: nowrap;
}

.arrow-link::after {
    @include transition;

    position: relative;
    bottom: 2px;
    margin-left: 15px;
    content: '';
    background: url('../assets/arrow.png') no-repeat center;
    background-size: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.arrow-link:hover::after {
    transform: translateX(7px);
}

.text-content{
    font-weight: $inner-text-font-weight;
}

// skills
.skills-content {
    width: 100%;
    max-width: 1000px;
}

.skills-category {
    width: 200px;
    margin-right: 5px;
    margin-bottom: 20px;
}


.skills-label {
    font-size: 0.95rem;
    font-weight: 500;
    text-transform: uppercase;
}

.skill-ul {
    list-style: circle;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.skill-li {
    font-weight: $inner-text-font-weight;
    margin: -1px 0;
    font-size: 0.9rem;
}

// navbar utility
.nb-scrolled {
    background-color: $primary;
    transition-duration: 500ms;
}

.nb {
    background-color: rgba($primary, 0);
    transition-duration: 500ms;
}


// change header colors
@include color-mode(dark) {
    h1, h2, h3, h4, h5 {
        color: $headers-color;
    }
}

@include color-mode(dark) {
    .display-6 {
        color: $headers-color;
    }
}

// icon next to nav-link blog
.nav-item-flex{
    display: flex;
}

.ext-link-icon{
    margin-left: 5px
}

// experience
.experience-content {
    font-weight: $inner-text-font-weight;
    font-size: 1rem;
    width: 100%;
    max-width: 1000px;
}

.experience-item{
    font-size: 0.9rem;
    font-family: monospace;
}


.experience-label{
    font-weight: 500;
}

.experience-description {
    margin-bottom: 30px;
    font-size: 0.9rem;
}

// Contact
.form-wrapper {
    margin-top: 2rem;
    width: 100%;
    max-width: 1000px;
    display: flex;
    gap: 2rem;
    z-index: 1;
    justify-content: center;
}

@media (max-width: 767px) {
    .form-wrapper {
        flex-direction: column;
        padding: 0;
    }
}

.form-icon-img {
    transition: transform 200ms ease-in-out;
}

.form-icon-img:hover {
    transform: scale(1.1);
}

.form-links {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

@media (max-width: 767px) {
    .form-links {
        flex-direction: row;
        height: 2rem;
        width: 100%;
    }
}

.form-content {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

input, textarea {
    font-size: 1rem;
    font-family: inherit;
    color: $primary;
    background-color: transparent;
    border: solid 1px $primary;
    border-radius: 0;
    outline: none;
    padding: 0.5rem;
    width: 100%;
    height: 2rem;
    transition: border 500ms;

    &:focus,
    &:hover {
        padding-left: 0.7rem;
        background: rgba(30, 30, 30, 10%);
    }

    &::placeholder {
        color: $primary;
        opacity: 0.8;
        font-size: 0.8rem;
        font-family: $primary;
        transition: color 200ms;
    }
}

.form-content .form-message {
    resize: none;
    height: 5rem;
}

// contact button
.arrow-link-button {
    @include transition;

    font-weight: 500;
    display: inline-block;
    background: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    border: none;
    width:fit-content;
    padding-right: 40px;
}

.arrow-link-button::after {
    @include transition;

    position: relative;
    bottom: 2px;
    margin-left: 15px;
    content: '';
    background: url('../assets/arrow.png') no-repeat center;
    background-size: 100%;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.arrow-link-button:hover::after {
    transform: translateX(7px);
}

.footer{
    background: linear-gradient(45deg,#86cffd 0,$primary 100%);
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-copyright{
    text-align: center;
    color: #212529;
    font-family: monospace;
}

// projects
.img-container{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.p-content-block {
    margin-bottom: 50px;
    width: 100%;
}

.content-project {
    margin-left: 20px;
}

.project-name{
    font-weight: 500;
}

.project-text{
    margin-top: 4px;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.project-tags{
    display: block;
}

.project-tag {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: $primary;
    border: 1px solid $primary;
    background: 0 0;
}

@media (max-width: 767px) {
    .p-content-block {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .content-project {
        margin-top:10px;
        margin-left:0px;
    }
}